* {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0.5rem;
}
#navHead {
  margin-left: 0.5rem;
}
ul {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  width: 15vw;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: white;
}

#heading {
  margin: 1rem;
}

form {
  margin: 1rem;
}

input {
  width: 95vw;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  padding: 5px 15px;
  background-color: black;
  color: white;
  cursor: pointer;
}
